https://aria2.yourdomain.com {
    gzip
    proxy /jsonrpc http://localhost:16800 {
        websocket
    }
    root /var/www
    tls ihciah@gmail.com
    tls {
        dns cloudflare
    }
}

https://monitor.yourdomain.com {
    gzip
    proxy / http://localhost:3000 {
        websocket
    }
    tls ihciah@gmail.com
    tls {
        dns cloudflare
    }
}

https://dav.yourdomain.com:8080 {
    gzip
    timeouts none
    basicauth / readonlyuser password
    tls ihciah@gmail.com
    tls {
        dns cloudflare
    }
    webdav / {
       scope /mnt/common-blk/shared
       modify false
    }
}
https://dav.yourdomain.com:8081 {
    gzip
    timeouts none
    basicauth / user password
    tls ihciah@gmail.com
    tls {
        dns cloudflare
    }
    webdav / {
       scope /mnt/common-blk/shared
       modify true
    }
}
